body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    align-items: center;
}

.menu img.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

.perfil-option {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.menu a:hover .perfil-option {
    opacity: 1;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: transform 0.3s;
}

.menu a:hover {
    transform: scale(1.7);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mapa {
    max-width: 80%;
    height: 200px;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%; /* Asegura que los elementos ocupen el ancho completo */
}

.input-group label {
    width: 160px;
    margin-right: 2px;
}

.reservas input[type="text"],
.reservas input[type="email"],
.reservas select {
    width: 100%; /* Ancho del 100% del contenedor */
    min-width: 200px; /* Ancho mínimo de 200px */
    padding: 10px; /* Aumentar el padding */
    margin-bottom: 10px; /* Aumentar el margen inferior */
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

.input-group select {
    cursor: pointer;
}

.reservas {
    width: 70%;
    text-align: center;
}

.informacion {
    width: 30%;
    text-align: center;
}

.reservas form {
    display: flex;
    flex-wrap: wrap;
}

.input-group {
    width: calc(33.33% - 20px);
    margin-right: 20px;
}

.input-group:last-child {
    margin-right: 0;
}

.reservas label {
    width: 100%;
}

.reservas select,
.reservas input[type="text"],
.reservas input[type="email"] {
    width: calc(50% - 10px);
}

.reservas button {
    width: 100%;
}


.reservas h2 {
    margin-bottom: 20px;
    color: #333;
}
.imagen-centrada img {
    max-width: 100%; /* Cambia el tamaño máximo de la imagen al 100% del contenedor */
    height: auto;
}
.zona-imagen {
    width: 200px;
    height: 50px;
    display: block;
    margin: auto;
}
.horas-list li {
    list-style-type: none;
    margin-bottom: 10px;
}

.horas-list strong {
    display: inline-block;
    width: 100px; /* Ancho fijo para alinear las etiquetas de día */
}
.boton-llamativo {
    background-color: #4CAF50; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color de texto */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Alineación de texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Mostrar como bloque */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Margen */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    border-radius: 10px; /* Bordes redondeados */
}

.boton-llamativo:hover {
    background-color: #45a049; /* Cambiar color de fondo al pasar el mouse */
}